.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $lightgrey;
  counter-reset: advant;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile-only-width) {
    br {
      display: none;
    }
  }
}

.advantages__item {
  text-align: center;
  min-height: 256px;

  &--primary:nth-child(1) {
    // position: relative;
    min-height: 471px;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      min-height: 0;
      grid-column: 1 / -1;
      height: 256px;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .advantages__item-bg {
      min-height: 256px;
      background-image: url("../../img/photo-city@1x-des.jpg");
      background-repeat: no-repeat;
      background-position-x: 50%;
      // background-position: 50% 100%;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photo-city@2x-des.jpg");
       background-size: 800px;
     //   background-position: 50% calc(50% + 50px);
      }
    }

    // &::before {
    //   content: "";
    //   width: 100%;
    //   min-height: 256px;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   background-image: url("../../img/photo-city@1x-tablet.jpg");
    //   //background-size: auto;
    //   background-repeat: no-repeat;
    //   background-position: right;

    //   @media (min-width: $desktop-width) {
    //     background-image: url("../../img/photo-city@1x-des.jpg");
    //   }
    // }
  }

  &--primary:nth-child(3) {
    // position: relative;
    min-height: 451px;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $tablet-width) {
      min-height: 0;
      grid-column: 1 / -1;
      height: 256px;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .advantages__item-bg {
      order: 1;
      min-height: 256px;
      background-image: url("../../img/photo-bridge@1x-des.jpg");
      background-repeat: no-repeat;
      background-position-x: 50%;
      // background-position: 50% 100%;
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/photo-bridge@2x-des.jpg");
       background-size: 800px;
     //   background-position: 50% calc(50% + 50px);
      }
    }

    // &::before {
    //   content: "";
    //   width: 100%;
    //   min-height: 256px;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   background-image: url("../../img/photo-bridge@1x-tablet.jpg");
    //   //background-size: auto;
    //   background-repeat: no-repeat;
    //   background-position: left;

    //   @media (min-width: $desktop-width) {
    //     background-image: url("../../img/photo-bridge@1x-des.jpg");
    //   }
    // }
  }

  &--secondary {
    min-height: 167px;
    padding: 25px 20px 24px;
    border-bottom: 1px solid $grey-border;

    &:last-child {
      border: none;
    }

    @media (min-width: $tablet-width) {
      border: 0;
      padding: 42px 32px;
      min-height: 256px;
    }
  }
}

.advantages__item-wrapper {
  padding: 35px 20px;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    padding: 40px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 56px;
  }
}

.advantages__item--primary:nth-child(1) .advantages__item-wrapper {
  @media (max-width: $mobile-only-width) {
    padding-top: 55px;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 37px;
    top: -14px;
    left: 0;
    background-image: url("../../img/white-bg-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.advantages__item--primary:nth-child(3) .advantages__item-wrapper {
  order: 2;
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  line-height: 21px;

  &::before {
    counter-increment: advant;
    content: "— №" counter(advant) " —";
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.advantages__text {
  margin: 0;
  line-height: 21px;
}
