.advantages {
  outline: 2px solid red;
}

.advantages__wrapper {}

.advantages__list {
  margin: 0px;
  padding: 0px;
}

.advantages__item {

  text-align: center;
  &--primary {
    background-color: #81B3D2;
    color: #ffffff;
  }

  &--secondary {
padding-top: 25px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
    background-color: #eeeeee;
  }

}

.advantages__title {
  margin: 0px;
  font-size: 18px;
line-height: 26px;
}
.advantages_number {
  font-size: 14px;
  line-height: 21px;
}
.advantages__text {
  margin: 0px;
  font-size: 14px;
line-height: 21px;
}
