// .advantages {
// }
// .advantages__wrapper {}
.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {

  text-align: center;

  &--primary {
    background-color: $blue;
    color: $white;
  }

  &--secondary {
    padding-top: 25px;
    padding-bottom: 24px;
    border-bottom: 1px solid $black;
    background-color: $lightgrey;
  }
}

.advantages__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}

.advantages_number {
  line-height: 21px;
}

.advantages__text {
  margin: 0;
  line-height: 21px;
}
