.booking {
  @media (max-width: $mobile-only-width) {
    br {
      display: none;
    }
  }
}
.booking__wrapper {
  padding: 35px 20px 49px;
  text-align: center;
  min-height: 287px;
  @media (min-width: $tablet-width) {
    padding: 58px 166px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.booking__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
}

.booking__text {
  margin-bottom: 27px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.booking__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
