.booking__wrapper {
  padding: 35px 20px 49px;
  text-align: center;
  min-height: 287px;
}
.booking__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
}

.booking__text {
  margin-bottom: 27px;
  line-height: 24px;
}

.booking__button {
  width: 280px;
  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
