.button {
  display: inline-block;
  border: 0;
  background-color: $blue;
  padding: 14px 32px 17px;
  color: $white;
  font-weight: 700;
  font-size: 21px;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }
  &:active {
    background-color: $blue-active;
    color: rgba($white, 0.3);
  }
  &:disabled {
    background-color: $grey;
  }
}
