.city-servises {
  background-color: $white;
  grid-column: 1 / -1;
}

.city-servises__wrapper {
  padding: 35px 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.city-servises__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.city-servises__item {
  position: relative;
  text-align: left;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding: 158px 32px 35px;
    min-height: 330px;

    &--motel {
      order: 1;
    }

    &--souvenirs {
      order: 3;
    }

    &--food {
      order: 2;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: 0;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 76px;
      height: 76px;
      top: 70px;
      left: calc(50% - 38px);
      background-size: 76px 76px;
    }
  }

  &--motel::before {
    background-image: url("../../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.city-servises__item:last-child {
  margin-bottom: 0;
}

.city-servises__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 26px;
  }
}

.city-servises__description {
  line-height: 21px;
  color: $darkgrey;
  margin: 0;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
