.city-servises {
  outline: 2px solid green;
  background-color: #ffffff;
}

.city-servises__wrapper {
position: relative;
padding-top: 35px;
padding-bottom: 35px;
}

.city-servises__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.city-servises__item {

  &--motel {
    &::before {
      content: "";
      position: absolute;
      width: 39px;
      height: 37px;
      top: 0px;
      left: 0px;
      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    &::before {
      content: "";
      position: absolute;
      width: 39px;
      height: 37px;
      top: 0px;
      left: 0px;
      background-image: url("../img/icon-house.svg");
    }}

  &--food {
    &::before {
      content: "";
      position: absolute;
      width: 39px;
      height: 37px;
      top: 0px;
      left: 0px;
      background-image: url("../img/icon-house.svg");
    }}
}

.city-servises__title {

  font-weight: 700;
font-size: 18px;
line-height: 26px;
  color: #000000;
}

.city-servises__description {

  font-size: 14px;
line-height: 21px;
  color: #333333
}
