.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  display: block;
  // margin-top: 12px;
    margin-left: 12px;

  &:hover path,
  &:focus path {
    fill: $blue;
  }

  &:active path {
    fill: $black;
    opacity: 0.3;
  }
}
