.emotions__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.emotions__input {
  background-color: $grey-input;
  margin: 0;
  border: 0;
  width: 100%;
  height: 160px;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}
