// .gallery__wrapper {

// }
.gallery__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.gallery__item {
  border-bottom: 1px solid $grey;
}

.gallery__list:first-child {
  border-top: 1px solid $grey;
}

.gallery__content {
  margin: 0;
}
