// .gallery__wrapper {
// }
.gallery__list {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  display: grid;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  
  }
}

.gallery__item {
  border-bottom: 1px solid $grey;
}
.gallery__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;

  }
  .photo__img {
    text-align: center;
    width: 1000px;
    background-color: red;
    }
}
.gallery__content {
  margin: 0;
}
