// .intro {
// }
.intro__wrapper {
  width: 320px;
  height: 389px;
  background-color: $blue;
  background-image: url("../img/back-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
}

.intro__img {
  margin-top: 90px;
}

.intro__text {
  text-align: center;
  background-color: $white;
}

.intro__title {
  margin-bottom: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.intro__description {
  margin-bottom: 0;
  margin-top: 32px;
  padding-bottom: 17px;
  line-height: 26px;
}
