.page {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: 14px;
  line-height: 26px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  color: $darkgrey;
  background-color: $white;
  text-transform: uppercase;
}
