.page-footer__wrapper {
  padding-top: 28px;
  text-align: center;
  background-color: $white;
  @media (min-width: $tablet-width) {
    text-align: none;
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  color: $black;
  margin-bottom: 36px;
}
