.page-header {
  background-color: $white;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
}
.page-header__wrapper {
  @media (min-width: $tablet-width) {
    // display: flex;

    .main-nav__menu {
      display: none;
    }
  }
}
