.user-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.user-list__item {
  background-color: $blue;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: none;
  }
}

// &--current {
// }


.user-list__link {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;

  }
}

