.user-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.user-list__item {
  background-color: $blue;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ffffff;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

// &--current {
// }


.user-list__link {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

