//Colors
$white: #ffffff;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$grey: #e5e5e5;
$lightgrey:#eeeeee;
$grey-input: #f2f2f2;
$grey-bg: #e7e5e5;
$grey-border: #d6d6d6;
$darkgrey: #333333;
$black: #000000;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
