.advantages {
  outline: 2px solid red;
}

.advantages__wrapper {}

.advantages__list {
  margin: 0px;
  padding: 0px;
}

.advantages__item {
  text-align: center;
  &--primary {
    background-color: #81B3D2;
    color: #ffffff;
  }

  &--secondary {
    background-color: #eeeeee;
  }

}

.advantages__title {
  margin: 0px;
}

.advantages__text {
  margin: 0px;
}
