.city-servises {
  outline: 5px solid red;

  &__wrapper {}

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__item {
    background-color: #FFFFFF;

    &--motel {}

    &--souvenirs {}

    &--food {}
  }

  &__title {
    margin: 0px;
    color: #000000;
  }

  &__description {
    margin: 0px;
    color: #333333
  }


}
