.city-servises {
  outline: 5px solid red;
}
  .city-servises__wrapper {}

  .city-servises__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .city-servises__item {
    background-color: #FFFFFF;

    &--motel {}

    &--souvenirs {}

    &--food {}
  }

  .city-servises__title {
    margin: 0px;
    color: #000000;
  }

  .city-servises__description {
    margin: 0px;
    color: #333333
  }



