.user-list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  &__item {
  background-color: #81B3D2;
  font-weight: 700;
font-size: 18px;
line-height: 40px;
text-align: center;
  }

  &__item--current {}

  &__link {
    color: #ffffff;
  text-decoration: none;}
}
